#logoarea52{
    margin: -2px 10px 0px 25px;
    width: 125px;
    height: auto;
}

a:link, a:visited, a:hover, a:active, button:link, button:visited, button:hover, button:active {
  color: #00ff00;
  text-decoration: none;
  /* removendo alterações no link caso ja tenha visitado pra n mudar cor e etc */
}

.profile-userpic{
    width: 150px;
    display: block;
    margin: auto;
    
}

.centerall
{
    display: block;
    margin: auto;
}

.profile-usertitle-name {
  color: #00ff00;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px 10px 0px;
  text-shadow: 
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b;
  
}

.profile-text{
    color: white;
    text-shadow: 
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b;

}

.glypicon-color{
    color: #00ff00;
    text-shadow: 
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b;

}

.glypicon-color-menu{
    color: #00ff00;
    text-shadow: 
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b;
        text-decoration: none;


}

.glypicon-color-menu:hover{
    color: #00d214;
     text-decoration: none;

}

#glypicon-color-menu{
    color: #00ff00;
    text-shadow: 
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b;

}

#glypicon-color-menu:hover{
    color: #00d214;

}


span#text-color-area52 {
    color: #00ff00;
    text-shadow: 
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b,
         0px  0px 0.5px #1b1b1b;

}

.borda-profile{
    border:1px solid black;
}
