.logoarea52{
    width: 125px;
    height: auto;
}

.profile-userpic{
    width: 150px;
    display: block;
    margin: auto;
    
}

.centerall
{
    display: block;
    margin: auto;
}

.profile-usertitle-name {
  color: #00ff00;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px 10px 0px;
  text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
  
}

.profile-text{
    color: white;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;

}

.glypicon-color{
    color: #00ff00;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;

}

.glypicon-color-menu{
    color: #00ff00;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;
        


}

.glypicon-color-menu:hover{
    color: #00d214;
     text-decoration: none;

}

#glypicon-color-menu{
    color: #00ff00;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;

}

#glypicon-color-menu:hover{
    color: #00d214;

}


span#text-color-area52 {
    color: #00ff00;
    text-shadow: 
        -1px -1px 0px #000,
         0px -1px 0px #000,
         1px -1px 0px #000,
        -1px  0px 0px #000,
         1px  0px 0px #000,
        -1px  1px 0px #000,
         0px  1px 0px #000,
         1px  1px 0px #000;

}

.borda-profile{
    border:1px solid black;
    
}
