@model DisciplineTeam.Area52.Web.Models.Usuario
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--btn cor-fonte efeito-fade-navbar borda-botao-search item-barra-set botao-barra tablink botao-settings-select-->

<div class="col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2">
    <div id="cor-borda" class="well" style="background: white">
        <ul id="efeito-form" class="nav nav-tabs">
            <li><a class="btn efeito-fade-navbar borda-botao-search" onclick="window.location = '../Usuario/Edit'" data-toggle="tab">Profile</a></li>
            <li><a class="btn efeito-fade-navbar borda-botao-search" onclick="window.location = '../Usuario/EditSecurity'" data-toggle="tab">Security</a></li>
            <li><a class="btn efeito-fade-navbar borda-botao-search" onclick="window.location = '../Usuario/EditPicture'" data-toggle="tab">Picture</a></li>
            <li class="active"><a href="#profile" class="btn efeito-fade-navbar borda-botao-search" data-toggle="tab">Date of Birth</a></li>
        </ul>
        <div id="cor-borda myTabContent" class="tab-content">
            <div class="tab-pane active" id="profile">
                <form class="form-horizontal" action="~/Usuario/EditDob" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <br />
                        @if (ViewBag.SucessoEdit == true)
                        {
                            <div class="alert alert-success text-center" role="alert">
                                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                <span class="sr-only">Success:</span>Date of birth changed successfully!
                            </div>
                        }
                        <div class="form-group">
                            <label for="lbl_idade" class="col-sm-2 control-label">Birth Date:</label>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.Datanasc, "{0:MM/dd/yyyy}", new { @class = "form-control", @disabled = "disabled" })
                                <br />
                                @Html.TextBoxFor(m => m.Datanasc, "{0:MM/dd/yyyy}", new { @class = "form-control jquery_datepicker", @required = "required", @type = "date", min = "1900-01-01", max = "2017-12-31" })
                                @Html.ValidationMessageFor(m => m.Datanasc)
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-group col-lg-12">
                        <br />
                        <br />
                        <button id="cor-fonte" type="submit" class="btn cor-fonte efeito-fade-navbar center-block">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!--./well-->
</div><!--./col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2-->
