@{
    ViewBag.Title = "ForgotP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-offset-3 col-lg-6 col-sm-12 col-md-12 col-lg-offset-3">
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte"><span class="glyphicon glyphicon-question-sign cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Forgot the password</span></a>
        </div>
        <!-- Body da div -->
        <div class="panel-body no-border">
            <!-- Cria o formulário -->
            <form action="../Cadastro/Index" method="post">
                <!-- input do nome do grupo-->

                <!-- input do formulario do grupo-->
                <div class="form-group">
                    <label for="nome">Secret Question</label>
                    <select class="form-control" id="lblSecretQ">
                        <option value="">Select your question</option>
                        <option value="csgo">Name of your first dog</option>
                        <option value="dota2">Name of your mother</option>
                        <option value="lol">Your first car</option>
                    </select>
                </div>
                <!-- input da descrição do jogo-->
                <div class="form-group">
                    <label for="nome">Secret Answer</label>
                    <input type="text" name="Nome" class="form-control" id="lblNomeGrupo" placeholder="Enter the answer...">
                </div>
                <button id="cor-fonte" type="submit" class="btn btn cor-fonte efeito-fade-navbar">Submit</button>
            </form>
        </div><!--./panel-body-->
    </div><!--./panel-->
</div><!--./col-lg-offset-3 col-lg-6 col-sm-12 col-md-12 col-lg-offset-3-->