@model DisciplineTeam.Area52.Web.Models.Usuario
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--

        Começo Menu Esquerdo

        -->
<div class="col-lg-2">
    <div id="bordapreta" class="list-group">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon-user cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Profile</span></a>
        </div>
        <div id="bordapretageral" class="list-group-item">
            <a href=""> <img src="../img/pp.jpg" class="img-responsive thumbnail borda-profile center-block" alt=""></a>

            <p class="nick-person profile-usertitle-name profile-text text-center">TusaMAL</p>
            <center>
                <table>
                    <tr><td class="text-right font-perfil">Name:</td> <td>&nbsp;Felipe</td></tr>
                    <tr><td class="text-right font-perfil">Gender:</td> <td>&nbsp;Male</td></tr>
                    <tr><td class="text-right font-perfil">Age:</td> <td>&nbsp;25</td></tr>
                    <tr><td class="text-right font-perfil">City:</td> <td>&nbsp;São José do Rio Preto</td></tr>
                    <tr><td class="text-right font-perfil">State:</td> <td>&nbsp;São Paulo</td></tr>
                </table>
            </center>
        </div>
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a>
        <a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->

    </div>
</div>


<!--

    Fim Menu Esquerdo

    -->
<!--

                Começo Feed

                -->

<div class="col-lg-7">
    <div id="bordapreta" class="panel panel-default">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon-time cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Feed</span></a>
        </div>
        <div class="panel-body">
            <!--

                começo post a esquerda

            -->
            <div class="media">
                <div class="media-left">
                    <a id="cor-fonte-menu" href="#" class=""><img class="media-object imagem-feed borda-profile" src="../img/pp.jpg" alt="..."></a>
                </div>
                <div id="testefeed" class="media-body">
                    <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">TusaMAL </a></h4>
                    <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--

                fim Post a esquerda

            -->
            <!--

                começo post a direita

            -->
            <div class="media">
                <div class="media-body">
                    <h4 class="nick-post media-heading text-right"><a href="#" class="cor-fonte-menu">Gust</a></h4>
                    <h6 class="fonte-post-pequena text-right">21-03-2017, 11:20 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="media-right">
                    <a id="cor-fonte-menu" href="#" class=""><img src="../img/gust.jpg" class="media-object imagem-feed borda-profile"></a>
                </div>
            </div>
            <!--

                fim Post a direita

            -->
            <!--

                começo post a esquerda

            -->
            <div class="media">
                <div class="media-left">
                    <a id="cor-fonte-menu" href="#" class=""><img class="media-object imagem-feed borda-profile" src="../img/john.jpg" alt="..."></a>
                </div>
                <div class="media-body">
                    <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">MXJonasV </a></h4>
                    <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--

                fim Post a esquerda

            -->
            <!--

                começo post a direita

            -->
            <div class="media">
                <div class="media-body">
                    <h4 class="nick-post media-heading text-right"><a href="#" class="cor-fonte-menu">Akhenathon</a></h4>
                    <h6 class="fonte-post-pequena text-right">21-03-2017, 11:20 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="media-right">
                    <a id="cor-fonte-menu" href="#" class=""><img src="../img/akhe.jpg" class="media-object imagem-feed borda-profile"></a>
                </div>
            </div>
            <!--

                fim Post a direita

            -->
            <!--

                começo post a esquerda

            -->
            <div class="media">
                <div class="media-left">
                    <a id="cor-fonte-menu" href="#" class=""><img class="media-object imagem-feed borda-profile" src="../img/pp.jpg" alt="..."></a>
                </div>
                <div id="testefeed" class="media-body">
                    <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">TusaMAL </a></h4>
                    <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--

                fim Post a esquerda

            -->
            <!--

                começo post a direita

            -->
            <div class="media">
                <div class="media-body">
                    <h4 class="nick-post media-heading text-right"><a href="#" class="cor-fonte-menu">Gust</a></h4>
                    <h6 class="fonte-post-pequena text-right">21-03-2017, 11:20 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="media-right">
                    <a id="cor-fonte-menu" href="#" class=""><img src="../img/gust.jpg" class="media-object imagem-feed borda-profile"></a>
                </div>
            </div>
            <!--

                fim Post a direita

            -->
            <!--

                começo post a esquerda

            -->
            <div class="media">
                <div class="media-left">
                    <a id="cor-fonte-menu" href="#" class=""><img class="media-object imagem-feed borda-profile" src="../img/john.jpg" alt="..."></a>
                </div>
                <div class="media-body">
                    <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">MXJonasV </a></h4>
                    <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--

                fim Post a esquerda

            -->
            <!--

                começo post a direita

            -->
            <div class="media">
                <div class="media-body">
                    <h4 class="nick-post media-heading text-right"><a href="#" class="cor-fonte-menu">Akhenathon</a></h4>
                    <h6 class="fonte-post-pequena text-right">21-03-2017, 11:20 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="media-right">
                    <a id="cor-fonte-menu" href="#" class=""><img src="../img/akhe.jpg" class="media-object imagem-feed borda-profile"></a>
                </div>
            </div>
            <!--

                fim Post a direita

            -->
        </div><!-- Fim panel-body -->
    </div><!-- Fim panel-default -->
</div><!-- Fim - col-lg-7 -->
<!--

    fim Feed

-->
<!--

    Começo Amigos e grupos

-->

<div class="col-lg-3">
    <div id="bordapreta" class="panel panel-default">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="~/Usuario/Friends"><span class="glyphicon glyphicon-star cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Friends (7)</span></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Akhenathon</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/gust.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Gust</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/john.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">MXJonasV</p>
                    </a>
                </div>
            </div><!-- Fim row de 3 amigos -->
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/john.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">MXJonasV</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/gust.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Gust</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Akhenathon</p>
                    </a>
                </div>
            </div><!--Fim outra row 3 amigos -->
            <a href="../pages/friend.html" class="cor-fonte-menu"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
        </div><!-- fim panel-body Friends -->
    </div><!-- fim panel-default Friends -->
    <div id="bordapreta" class="panel panel-default">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon-list cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Groups (9)</span></a>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/dota2.png" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Dota 2 Rio Preto</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/csgo.png" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">CS:GO Brasil</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/overwatch.png" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Paladins is da best</p>
                    </a>
                </div>
            </div><!--Fim Row 3 groups-->
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/lol.png" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">League of Legends</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/heart.png" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos">Hearthstone BR</p>
                    </a>
                </div>
                <div class="col-md-4 portfolio-item ">
                    <a id="cor-fonte-menu" href="#" class="thumbnail">
                        <img class="img-responsive center-block" src="../img/fifa17.png" alt="">
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos ">Tomates Peladeiros</p>
                    </a>
                </div>
            </div><!-- Fim outra row 3 groups -->
            <a href="#" class="cor-fonte-menu"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
        </div><!-- Fim panel-body groups -->
    </div><!-- fim panel-default groups -->
</div><!-- Fim col-lg-3 -->
<!--

Fim Amigos e grupos

-->


