DisciplineTeam.Area52/.vs/config/applicationhost.config
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/obj/Debug/DisciplineTeam.Area52.Web.dll
*.pdb
*.config
DisciplineTeam.Area52/.vs/DisciplineTeam.Area52/v14/.suo
*.pdb
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/obj/Debug/DisciplineTeam.Area52.Web.pdb
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/obj/Debug/DisciplineTeam.Area52.Web.dll
*.cache
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/DisciplineTeam.Area52.Web.csproj
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/bin/DisciplineTeam.Area52.Web.pdb
*.suo
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/bin/DisciplineTeam.Area52.Web.dll
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/Scripts/MudarAba.js