DisciplineTeam.Area52/.vs/config/applicationhost.config
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.pdb
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/obj/Debug/DisciplineTeam.Area52.Web.dll
*.pdb
*.config
DisciplineTeam.Area52/.vs/DisciplineTeam.Area52/v14/.suo
*.pdb