*.config
DisciplineTeam.Area52/.vs/DisciplineTeam.Area52/v14/.suo
*.cache
*.suo
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/bin/DisciplineTeam.Area52.Web.dll
*.dll
*.cache
*.pdb
*.pdb
DisciplineTeam.Area52/DisciplineTeam.Area52.Web/bin/DisciplineTeam.Area52.Web.dll
*.dll
*.suo
*.dll
*.pdb
*.suo
*.config
DisciplineTeam.Area52/.vs/DisciplineTeam.Area52/v14/.suo
*.cache
*.suo
DisciplineTeam.Area52/.vs/DisciplineTeam.Area52/v14/.suo
*.config
*.txt
*.png
*.jpg
*.jpeg