<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <!-- Teste -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap Core CSS -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Nosso CSS -->
    <link href="../Content/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
    <!--        Começo NavBAR       -->
    <nav class="navbar navbar-default navbar-static-top fixed-nav-bar">
        <div id="cor-fundo" class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="botao-menu" type="button" class="navbar-toggle collapsed efeito-fade-navbar" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span id="barrinha-menu" class="icon-bar"></span>
                    <span id="barrinha-menu" class="icon-bar"></span>
                    <span id="barrinha-menu" class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../Usuario/User"><img id="logoarea52" class="img-responsive" src="../img/area52.png" alt=""></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left">
                    <div class="form-group">

                        <input type="text" class="form-control" placeholder="Search groups">
                        <button id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search" type="button">
                            <i class="glyphicon glyphicon-search"></i><span>&nbsp;Search</span>
                        </button>

                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="cor-fonte efeito-fade-navbar"><a href="../Usuario/User"><i class="glyphicon glyphicon-home cor-fonte-sem-efeito"></i> <span class="cor-fonte-sem-efeito">Home</span></a></li>
                    <li class="cor-fonte efeito-fade-navbar"><a href="../Usuario/Edit"><i class="glyphicon glyphicon-cog cor-fonte-sem-efeito"></i> <span class="cor-fonte-sem-efeito">Settings</span></a></li>
                    <!--<li class="cor-fonte efeito-fade-navbar"><a href="#"><i class="glyphicon glyphicon-ok cor-fonte-sem-efeito"></i> <span class="cor-fonte-sem-efeito">Requests</span></a></li>-->
                    <li class="cor-fonte efeito-fade-navbar"><a href="../Cadastro/Index"><i class="glyphicon glyphicon-log-out cor-fonte-sem-efeito"></i> <span class="cor-fonte-sem-efeito">Logout</span></a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!--    FimNavBAR    -->
    <!--Div's pra fazer o footer ficar sempre embaixo-->
    <div id="wrap">
        <div class="container col-lg-12 col-md-12 col-sm-12">
            @RenderBody()
        </div>
    </div>
    <!--./Div's pra fazer o footer ficar sempre embaixo-->
    <!--    Começo Footer   -->
    <div id="footer">
        <div class="container col-lg-12 col-sm-12 col-md-12">
            <div class="row">
                <hr id="borda-footer" />
                <ul class="nav nav-pills nav-justified">
                    <li><a id="cor-fonte-menu" href="#">© 2017 Disciplina Team</a></li>
                    @*<li><a id="cor-fonte-menu" href="#">Terms of Service</a></li>
                    <li><a id="cor-fonte-menu" href="#">Privacy</a></li>*@
                </ul>
                <div id="push"></div>
            </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
    </div>
            <!--    fim Footer    -->
            <!-- Bootstrap Core JavaScript -->
            <script src="../Scripts/jquery-1.10.2.js"></script>
            <script src="../Scripts/bootstrap.min.js"></script>
</body>
</html>