
@{
    ViewBag.Title = "Index Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--        Começo Menu Esquerdo        -->
<!--Cria as Coluna principal da Div lg 2/12, sm 12/12 e md 3/12-->
<div class="col-lg-3 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="bordapreta" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="fundopreto" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-letra-verde" href="../Usuario/Edit"><span class="glyphicon glyphicon-pushpin cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Event</span></a>
        </div><!--/panel-heading-->
        <!--Div onde fica os textos do grupo-->
        <div class="list-group-item no-border">
            <a href=""> <img src="../img/csgo.png" class="img-responsive thumbnail borda-profile center-block" alt=""></a>
            <!--Nickname do usuario-->
            <p class="nick-person profile-usertitle-name profile-text text-center">13º Amadorzão de CS:GO</p>
            <center>
                <!--tabela com os dados do usuário-->
                <table>
                    <tr><td class="text-right font-perfil">Promoted by:</td><td>&nbsp;<a href="../Grupos/Index">CS:GO Brasil</a></td></tr>
                    <tr><td class="text-right font-perfil">Event Type:</td><td>&nbsp;LAN</td></tr>
                </table>
                <div class="panel-body no-border">
                    <center>
                        <a id="cor-letra-verde" href="#" class="btn cor-letra-verde efeito-fade-navbar borda-botao-search" type="button">
                            <i id="menu-toggle" class="glyphicon glyphicon-ok"></i><span>&nbsp;Going</span>
                        </a>
                    </center>
                </div>
            </center>
        </div><!--./list-group-item-->
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a><a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->
    </div><!--/list-group-->
</div><!--/col-lg-2 col-sm-12 col-md-3-->
<!--        Fim Menu Esquerdo       -->
<!--Começo Coluna About com tamanho maximo disponivel dentro da coluna-->
    <div class="col-lg-6 col-sm-12 col-md-6">
        <!-- Cria a Div interior e a deixa com borda preta-->
        <div id="bordapreta" class="panel panel-default">
            <!--Aplica o fundo preto e cria o head da div-->
            <div id="fundopreto" class="panel-heading no-border">
                <!-- Escritos e icones da barra preta da div-->
                <span class="glyphicon glyphicon-tag cor-letra-verde-sem-efeito">&nbsp;</span><span class="cor-letra-verde-sem-efeito">About</span>
            </div><!--/panel-heading-->
            <!-- Corpo do texto da div nem todas terão ele-->
            <div class="panel-body no-border">
                <!--começo post a esquerda-->
                <div class="col-lg-12">
                    <!--Cria thumbnail e deixa com borda preta-->
                    <div class="thumbnail borda-profile">
                        <div class="media">
                            <!--Corpo da div media -->
                            <div class="media-body">
                                <!--div alinhada verticalmente ao centro-->
                                <div class="vertical-align">
                                    <!--Titulo de descrição-->
                                    <h4 class="">About Event:</h4>
                                </div><!--./vertical-align-->
                                <!--Descrição do grupo-->
                                <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                <p class="text-right text-justify">
                                    <table>
                                        <tr><td class="text-right font-perfil">Event Date:</td><td>&nbsp;15/04/2017 - 17:00 (UTC - 03:00)</td></tr>
                                        <tr><td class="text-right font-perfil">City:</td><td>&nbsp;São José Do Rio Preto</td></tr>
                                        <tr><td class="text-right font-perfil">State:</td><td>&nbsp;São Paulo</td></tr>
                                        <tr><td class="text-right font-perfil">Address:</td><td>&nbsp;MEGA LAN, Av. Independencia nº4578, Centro</td></tr>
                                    </table>
                                </p>
                            </div><!--./media-body-->
                        </div><!--./media-->
                    </div><!--/thumbnail-->
                </div><!--/Post a esquerda-->
            </div><!--/panel-body -->
        </div><!--/panel-default -->
    </div><!--Fim Coluna About-->
    <!--

        Começo Amigos e grupos

    -->
    <div class="col-lg-3 col-sm-12 col-md-3">
        <!-- Cria a Div interior e a deixa com borda preta-->
        <div id="bordapreta" class="panel panel-default">
            <!-- Escritos e icones da barra preta da div-->
            <div id="fundopreto" class="panel-heading no-border">
                <!-- Escritos e icones da barra preta da div-->
                <a id="cor-letra-verde" href="../Usuario/Members"><span class="glyphicon glyphicon-star cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Going Members (7)</span></a>
            </div><!--/panel-heading-->
            <!-- Corpo do texto da div nem todas terão ele-->
            <div class="panel-body no-border">
                <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a id="cor-fonte-menu" href="../Grupos/Person" class="thumbnail" title="Akhenathon">
                        <!--Anchor ou link do membro em questão-->
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt=""><!--Img do membro-->
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p><!--Nickname do cidadão-->
                    </a>
                </div><!--/col-sm-12 col-md-6 col-lg-4-->
                <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a id="cor-fonte-menu" href="../Usuario/User" class="thumbnail" title="TusaMal">
                        <!--Anchor ou link do membro em questão-->
                        <img class="img-responsive center-block" src="../img/pp.jpg" alt=""><!--Img do membro-->
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">TusaMAL</p><!--Nickname do cidadão-->
                    </a>
                </div><!--/col-sm-12 col-md-6 col-lg-4-->
                <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a id="cor-fonte-menu" href="../Grupos/Person" class="thumbnail" title="Akhenathon">
                        <!--Anchor ou link do membro em questão-->
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt=""><!--Img do membro-->
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p><!--Nickname do cidadão-->
                    </a>
                </div><!--/col-sm-12 col-md-6 col-lg-4-->
                <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a id="cor-fonte-menu" href="../Grupos/Person" class="thumbnail" title="Akhenathon">
                        <!--Anchor ou link do membro em questão-->
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt=""><!--Img do membro-->
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p><!--Nickname do cidadão-->
                    </a>
                </div><!--/col-sm-12 col-md-6 col-lg-4-->
                <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a id="cor-fonte-menu" href="../Grupos/Person" class="thumbnail" title="Akhenathon">
                        <!--Anchor ou link do membro em questão-->
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt=""><!--Img do membro-->
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p><!--Nickname do cidadão-->
                    </a>
                </div><!--/col-sm-12 col-md-6 col-lg-4-->
                <!--Coluna para caber 1 membro por linha no sm, 2 membros por linha no md e 3 membros por linha no lg-->
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <a id="cor-fonte-menu" href="../Grupos/Person" class="thumbnail" title="Akhenathon">
                        <!--Anchor ou link do membro em questão-->
                        <img class="img-responsive center-block" src="../img/akhe.jpg" alt=""><!--Img do membro-->
                        <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p><!--Nickname do cidadão-->
                    </a>
                </div><!--/col-sm-12 col-md-6 col-lg-4-->
                <!-- Coluna criada pra evitar que o See more nao fique sem ser no final da coluna-->
                <div class="col-lg-12">
                    <a href="../pages/friend.html" class="cor-fonte-menu"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
                </div><!--/col-lg-12-->
            </div> <!--fim panel-body Members-->
        </div> <!--fim panel-default Members -->
    </div>
 <!--

    Fim Amigos e grupos

    -->
