@model DisciplineTeam.Area52.Web.Models.Jogo
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-offset-3 col-lg-6 col-sm-12 col-md-12 col-lg-offset-3">
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte"><span class="glyphicon glyphicon-plus cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Create Group</span></a>
        </div>
        <!-- Body da div -->
        <div class="panel-body no-border">
            <!-- Cria o formulário -->
@using (Html.BeginForm("Create", "Grupo", FormMethod.Post))
{
                   <!--input do nome do grupo-->


                   <div class="form-group">
                    <label for="nome">Group Name</label>
                    <input type = "text" name= "Nome" class="form-control" id="lblNomeGrupo" placeholder="Enter the group name...">
                </div>

                <!-- input do formulario do grupo-->
                <div class="form-group">
                    <label for="nome">Game</label>
                       @Html.DropDownList("JogoId", null, new { @class = "form-control" })     
                    @*@Html.DropDownListFor(m => m.Nome, new SelectList(ViewBag.JogoId, "IdJogo","Nome","Imagem"), "-- Select Status --")*@
                          
                </div>
                <!-- input da descrição do jogo-->
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea name="Descricao" class="form-control" id="desc" rows="4" required></textarea>
                </div>
                <button id="cor-fonte" type="submit" class="btn btn cor-fonte efeito-fade-navbar">Create Group</button>
}
        </div><!--./panel-body-->
    </div><!--./panel-->
</div><!--./col-lg-offset-3 col-lg-6 col-sm-12 col-md-12 col-lg-offset-3-->

