@model DisciplineTeam.Area52.Web.Models.Grupo
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--            Começo Menu Esquerdo            -->
<!-- Cria a coluna principal da Div para Ocupar 2/12 em lg, 12/12 em sm e 3/12 em md-->
<div class="col-lg-2 col-sm-12 col-md-3">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="../Usuario/Index"><span class="glyphicon glyphicon-user cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Profile</span></a>
        </div><!--/panel-heading-->
        <!--Div onde fica os textos do grupo-->
        <div class="list-group-item no-border">
            <!--Link para o profile com a img junto-->
            <a href="/Usuario/Index"> <img src="../img/pp.jpg" class="img-responsive thumbnail borda-profile center-block" alt=""></a>
            <!--Nick do usuario-->
            <p class="nick-person profile-usertitle-name profile-text text-center break-word">@ViewBag.UserLog.Nick</p>
            <center>
                <!--tabela com os dados do usuário-->
                <table>
                    <tr><td class="text-right font-perfil">Name:</td><td class="break-word">&nbsp;@ViewBag.UserLog.Nome</td></tr>
                    <tr>
                        <td class="text-right font-perfil">Gender:</td>
                        @if (ViewBag.UserLog.Sexo == "M")
                        {
                            <td class="break-word">&nbsp;Male</td>
                        }
                        else if (ViewBag.UserLog.Sexo == "F")
                        {
                            <td class="break-word">&nbsp;Female</td>
                        }
                        else
                        {

                        }
                    </tr>
                    <tr>
                        <td class="text-right font-perfil">Age:</td>
                        @if (ViewBag.UserLog.Datanasc != null)
                        {
                            int age = DateTime.Today.Year;
                            int ageuser = Convert.ToInt32(ViewBag.UserLog.Datanasc);
                            ViewBag.UserLog.Datanasc = (age - ageuser).ToString(); ;
                            <td class="break-word">&nbsp;@ViewBag.UserLog.Datanasc</td>
                        }
                    </tr>
                    <tr><td class="text-right font-perfil">City:</td> <td class="break-word">&nbsp;@ViewBag.UserLog.Cidade</td></tr>
                    <tr><td class="text-right font-perfil">State:</td> <td class="break-word">&nbsp;@ViewBag.UserLog.Estado</td></tr>
                </table>
            </center>
        </div><!--/list-group-item-->
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a> <a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->
    </div><!--/list-group-->
</div><!--/col-lg-2 col-sm-12 col-md-3-->
<!--            Fim Menu Esquerdo           -->
<!-- Começo da tela de Grupos para ocupar 10/10 em lg, 12/12 em sm e 9/12 em md-->
<div class="col-lg-10 col-sm-12 col-md-9">
    <!-- Cria a Div interior e a deixa com borda preta-->
    <div id="cor-borda" class="panel panel-default">
        <!--Aplica o fundo preto e cria o head da div-->
        <div id="cor-fundo-header" class="panel-heading no-border">
            <!-- Escritos e icones da barra preta da div-->
            <a id="cor-fonte" href="../Grupo/Groups"><span class="glyphicon glyphicon-list cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Groups (@ViewBag.Quantgrupopart)</span></a>
        </div><!--panel-heading-->
        <!-- Corpo do texto da div nem todas terão ele-->
        <div class="panel-body no-border">
            <!--Cria uma linha da div para separa-lá dos grupos-->
            <div class="row">
                <!--Faz com que a searchbox ocupe sempre 4/12 da div em que ela está dentro-->
                <div class="col-lg-4 col-sm-8 col-md-8">
                    <!--Não sei ao certo oq faz deve ser o body do input-->
                    <form class="navbar-form navbar-left" action="../Grupo/Search" method="post">
                        <div class="input-group">
                            <!--Creio ser um jeito pra formatar o botão-->
                            <span class="input-group-btn">
                                <!--Começo botão com o glyphicon-->
                                <button class="btn cor-fonte efeito-fade-navbar" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span><!--/input-group-btn-->
                            <!--Cria o textbox do search-->
                            <input type="text" class="form-control" placeholder="Search through groups">
                        </div><!-- /input-group -->
                    </form>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 col-sm-4 col-md-4">
                    <!-- Botão Create Group-->
                    <a id="cor-fonte" href="../Grupo/Create" class="btn btn cor-fonte efeito-fade-navbar">
                        <i class="glyphicon glyphicon-plus"></i><span>&nbsp;Create New Group</span>
                    </a><!--./Botão Group-->
                </div>
            </div><!-- /.row -->
            <hr class="borda-profile"><!--Divisor-->

            <!--Começo Grupos define o tamanho da Div para 3/12   _\|/_    -->
            @foreach (var e in ViewBag.Grupos)
            {
                <div class="col-lg-3">
                    <div id="cor-borda" class="thumbnail">
                        <a href="../Grupos/Index"><img src="../img/csgo.png" alt="..." class="borda-profile"></a>
                        <div class="caption text-center">
                            <a id="cor-fonte-menu" href="../Grupos/Index">
                                <h3 class="break-word">@e.Nome</h3>
                                <p>Falta Pegar Nome Do Jogo</p>
                            </a>
                            <p><a id="cor-fonte" href="#" class="btn cor-fonte efeito-fade-navbar remover-amigo" role="button"><span class="glyphicon glyphicon-remove"></span> Leave Group</a></p>
                        </div>
                    </div>
                </div>
            }
            
        </div><!-- /.panel-body -->
    </div><!-- /.panel panel-default -->
</div><!-- /.col-lg-9 -->
