
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div class="col-lg-8">
    <div class="thumbnail bordapreta">

    </div>
</div>
<div class="col-lg-4">
    <div id="bordapreta" class="panel panel-default">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon glyphicon-log-in cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Create Account</span></a>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="lblNome">Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lblNome" placeholder="Enter name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="lblNick">Nickname:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lblNick" placeholder="Enter nickname">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="lblEmail">Email:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="lblEmail" placeholder="Enter email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="pwd">Password:</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="lblNick">Date of Birth:</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" id="lblNick" placeholder="Date of Birth">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button id="cor-letra-verde" class="btn cor-letra-verde efeito-fade-navbar borda-botao-search" type="submit">Sign Up</button>
                        <button id="cor-letra-verde" class="btn cor-letra-verde efeito-fade-navbar borda-botao-search" type="submit">Clear</button>
                    </div>
                </div>
            </form>
        </div><!--/panel-body-->
    </div><!--/panel-default-->
</div><!--/col-lg-3-->

