@model IEnumerable<DisciplineTeam.Area52.Web.Models.Jogo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2">
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte"><span class="glyphicon glyphicon-plus cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Add a game</span></a>
        </div>
        <div class="panel-body no-border">
            <table class="table table-hover">
                @foreach (var e in Model)
                {
                    <tr>
                        <td>@e.IdJogo</td>
                        <td>@e.Nome</td>
                        <td>@e.Descricao</td>
                        <td>@e.Imagem</td>
                    </tr>

                }
            </table>

            <a href="/Jogos/Create" class="btn btn-success">New game</a>
        </div>
    </div>
</div>