@model IEnumerable<DisciplineTeam.Area52.Web.Models.Jogo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2">
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte"><span class="glyphicon glyphicon-plus cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Add a game</span></a>
        </div>
        <div class="panel-body col-sm-12 col-xs-12 col-md-12 col-lg-12">
            @if (TempData["SucessoImg"] != null)
            {
            <div class="alert alert-success text-center" role="alert">
                <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                <span class="sr-only">Success:</span>
                @TempData["SucessoImg"]
            </div>
            }
            <table class="table-hover col-sm-12 col-xs-12 col-md-12 col-lg-12">
                <tr>
                    <td class="text-center">Game Pic: </td>
                    <td class="text-center">Name: </td>
                    <td class="text-center">Game Type: </td>
                </tr>
                <tr></tr>
                
                @foreach (var e in Model)
                {
                    <tr id="cor-borda" class="table-bordered">
                        <td class="text-center"><img style="max-height: 30%; height: auto; border: 1px solid #000000;" class="img-circle" src="@e.Imagem" /></td>
                        <td class="text-center vertical-align">@e.Nome</td>
                        <td class="text-center vertical-align">@e.Descricao</td>
                        <td>
                            <a href="~/Jogo/EditJogo/?JogoId=@e.IdJogo" id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search">
                                <i id="menu-toggle" class="glyphicon glyphicon-edit"></i><span>&nbsp;Edit</span> @*Mudar Status para 1*@
                            </a>
                        </td>
                    </tr>
                }
                
            </table>
            <div class="col-sm-offset-4 col-xs-offset-4 col-md-offset-4 col-lg-offset-4 col-sm-4 col-xs-4 col-md-4 col-lg-4">

                <br />
                <a href="../Jogo/Create" id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search center-block">Add New game</a>
            </div>
        </div>
    </div>
</div>