@model IEnumerable<DisciplineTeam.Area52.Web.Models.Jogo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-offset-2 col-lg-8 col-sm-12 col-md-12 col-lg-offset-2">
    <div id="cor-borda" class="panel panel-default">
        <div id="cor-fundo-header" class="panel-heading no-border">
            <a id="cor-fonte"><span class="glyphicon glyphicon-plus cor-fonte-sem-efeito">&nbsp;</span><span class="head-amigrups">Add a game</span></a>
        </div>
        <div class="panel-body col-lg-12">
            <table class="table-hover col-lg-12">
                <tr>
                    <td class="text-center">Game Icon: </td>
                    <td class="text-center">Name: </td>
                    <td class="text-center">About: </td>
                </tr>
                <tr></tr>
                
                @foreach (var e in Model)
                {
                    <tr id="cor-borda" class="table-bordered">
                        <td class="text-center"><img style="max-height: 30%; height: auto;" class="img-rounded borda-profile" src="@e.Imagem" /></td>
                        <td class="text-center vertical-align">@e.Nome</td>
                        <td class="text-center vertical-align">@e.Descricao</td>
                    </tr>
                }
                
            </table>
            <div class="col-lg-12">

                <br />
                <a href="../Jogo/Create" id="cor-fonte" class="btn cor-fonte efeito-fade-navbar borda-botao-search">New game</a>
            </div>
        </div>
    </div>
</div>