
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--

        Começo Menu Esquerdo

        -->
<div class="col-lg-2 col-sm-12 col-md-3">
    <div id="bordapreta" class="list-group">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon-list cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Group</span></a>
        </div>
        <div id="bordapretageral" class="list-group-item">
            <a href=""> <img src="../img/csgo.png" class="img-responsive thumbnail borda-profile center-block" alt=""></a>

            <h2 class="text-center">CS:GO Brasil</h2>
            <p class="text-center">Counter Strike: Global Offensive</p>
            <center>
                <button id="cor-letra-verde" class="btn cor-letra-verde efeito-fade-navbar borda-botao-search" type="button">
                    <i class="glyphicon glyphicon-ok"></i><span>&nbsp;Join</span>
                </button>
            </center>
        </div>
        <!--<a id="cor-fonte-menu" href="#"  class="list-group-item"><span class="badge" style="color:#00FF00;">2</span><span class="profile-text glyphicon glyphicon-ok"> Requests </span> </a>
        <a id="cor-fonte-menu" href="#" class="list-group-item"><span class="profile-text glyphicon glyphicon-thumbs-up"> Commends</span></a>-->

    </div>
</div>


<!--

    Fim Menu Esquerdo

    -->
<!--

                Começo Feed

                -->
<div class="col-lg-7 col-sm-12 col-md-6">
<div class="col-lg-12">
    <div id="bordapreta" class="panel panel-default">
        <div id="fundopreto" class="panel-heading">
            <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon-tag cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">About</span></a>
        </div>
        <div class="panel-body">
            <!--

            começo post a esquerda

            -->
            <div class="col-lg-12">
                <div class="thumbnail borda-profile">
                    <div class="media">
                        <div class="media-body vertical-align">
                            <h2 class="media-heading"><a href="#" class="cor-fonte-menu">CS:GO Brasil </a></h2>
                            <h4 class="">About Group:</h4>
                        </div>
                    </div>
                    <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <!--

            fim Post a esquerda

             -->
        </div><!-- Fim panel-body -->
    </div><!-- Fim panel-default -->
</div><!-- Fim - col-lg-7 -->
                <!--

                fim Feed

                -->
                <!--

                Começo Feed

                -->

            <div class="col-lg-12">
                <div id="bordapreta" class="panel panel-default">
                    <div id="fundopreto" class="panel-heading">
                        <a id="cor-letra-verde" href="#"><span class="glyphicon glyphicon-envelope cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Messages</span></a>
                    </div>
                    <div class="panel-body">
                        <!--

    começo post a esquerda

    -->
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="thumbnail borda-profile">
                                <div class="media">
                                    <div class="media-left">
                                        <a id="cor-fonte-menu" href="#" class=""><img class="img-responsive media-object img-thumbnail borda-profile" src="~/img/img-feed/pp.jpg" alt="..."></a>
                                    </div>
                                    <div class="media-body vertical-align">
                                        <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">TusaMAL </a></h4>
                                        <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                                    </div>
                                </div>
                                <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--

    fim Post a esquerda

     -->
                        <!--

    começo post a esquerda

    -->
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="thumbnail borda-profile">
                                <div class="media">
                                    <div class="media-left">
                                        <a id="cor-fonte-menu" href="#" class=""><img class="img-responsive media-object img-thumbnail borda-profile" src="~/img/img-feed/akhe.jpg" alt="..."></a>
                                    </div>
                                    <div class="media-body vertical-align">
                                        <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">Akhenathon </a></h4>
                                        <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                                    </div>
                                </div>
                                <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--

    fim Post a esquerda

     -->
                        <!--

    começo post a esquerda

    -->
                        <div class="col-sm-12 col-lg-12 col-md-12">
                            <div class="thumbnail borda-profile">
                                <div class="media">
                                    <div class="media-left">
                                        <a id="cor-fonte-menu" href="#" class=""><img class="img-responsive media-object img-thumbnail borda-profile" src="~/img/img-feed/gust.jpg" alt="..."></a>
                                    </div>
                                    <div class="media-body vertical-align">
                                        <h4 class="nick-post media-heading"><a href="#" class="cor-fonte-menu">Gust </a></h4>
                                        <h6 class="fonte-post-pequena">21-03-2017, 10:53 (UTC- 03:00) at <a href="#" class="cor-fonte-menu">CS:GO Brasil</a></h6>
                                    </div>
                                </div>
                                <p class="text-right text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--

    fim Post a esquerda

     -->

                        </div>
                    </div>
                </div>
            </div>
            <!--

                Começo Amigos e grupos

            -->

            <div class="col-lg-3 col-sm-12 col-md-3">
                <div id="bordapreta" class="panel panel-default">
                    <div id="fundopreto" class="panel-heading">
                        <a id="cor-letra-verde" href="../Usuario/Friends"><span class="glyphicon glyphicon-star cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Members (6)</span></a>
                    </div>
                    <div class="panel-body">

                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a id="cor-fonte-menu" href="#" class="thumbnail" title="Akhenathon">
                                <img class="img-responsive center-block" src="../img/akhe.jpg" alt="">
                                <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a id="cor-fonte-menu" href="#" class="thumbnail" title="Gust">
                                <img class="img-responsive center-block" src="../img/gust.jpg" alt="">
                                <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Gust</p>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a id="cor-fonte-menu" href="#" class="thumbnail" title="MXJonasV">
                                <img class="img-responsive center-block" src="../img/john.jpg" alt="">
                                <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">MXJonasV</p>
                            </a>
                        </div>


                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a id="cor-fonte-menu" href="#" class="thumbnail" title="MXJonasV">
                                <img class="img-responsive center-block" src="../img/john.jpg" alt="">
                                <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">MXJonasV</p>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a id="cor-fonte-menu" href="#" class="thumbnail" title="Gust">
                                <img class="img-responsive center-block" src="../img/gust.jpg" alt="">
                                <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Gust</p>
                            </a>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <a id="cor-fonte-menu" href="#" class="thumbnail" title="Akhenathon">
                                <img class="img-responsive center-block" src="../img/akhe.jpg" alt="">
                                <p class="nick-friendgroup text-center fonte-responsiva-grupos-amigos text-overflow">Akhenathon</p>
                            </a>
                        </div>

                        <a href="../pages/friend.html" class="cor-fonte-menu"><p class="text-right fonte-responsiva-grupos-amigos">See more...</p></a>
                    </div> <!--fim panel-body Friends-->
                </div> <!--fim panel-default Friends-->
                <div id="bordapreta" class="panel panel-default">
                    <div id="fundopreto" class="panel-heading">
                        <a id="cor-letra-verde" href="../Grupos/Groups"><span class="glyphicon glyphicon-pushpin cor-letra-verde-sem-efeito">&nbsp;</span><span class="head-amigrups">Events</span></a>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 col-lg-12 col-md-12">

                            <div class="media">
                                <div id="bordapreta" class="thumbnail">
                                    <h4>13º Amadorzão de CS:GO</h4>
                                    <h6 class="fonte-post-pequena">15-04-2017, 00:00 (UTC- 03:00) <a href="#" class="cor-fonte-menu">Online Event</a></h6>
                                </div>
                                <div id="bordapreta" class="thumbnail">
                                    <h4>1º Campeonato Brasileiro de CS:GO</h4>
                                    <h6 class="fonte-post-pequena">30-04-2017, 00:00 (UTC- 03:00) <a href="#" class="cor-fonte-menu">Lan Event</a></h6>
                                </div>
                            </div>
                        </div>
                    </div><!-- Fim panel-body groups -->
                </div><!-- fim panel-default groups -->
            </div><!-- Fim col-lg-3 -->
            <!--

            Fim Amigos e grupos

            -->



